# Evita listar directorios
Options -Indexes

# Activa Rewrite
RewriteEngine On

# Si no es un archivo o directorio real, redirige todo al front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]