# Evita listar directorios
Options -Indexes

# Activa Rewrite
RewriteEngine On
RewriteBase /

# Si no es un archivo o directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todo al front controller
RewriteRule ^(.*)$ public/index.php [L,QSA]
